*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.logo-navbar
{
    width: 100%;
    height: 90px;
}
.logo-navbar>.container
{
    width: 90%;
    margin: 0 auto;
    
}
.logo-navbar>.container>.row
{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.logo-navbar>.container>.row>.logo
{
    width: 10%;
    padding: 13px;
}
.logo-navbar>.container>.row>.content
{
    width: 80%;
}
.logo-navbar>.container>.row>.content>.main-nav>.ulist
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-navbar>.container>.row>.content>.main-nav>.ulist>.list
{
    padding: 25px;
    margin: 0 auto;
}
.nav-item
{
    padding-left: 7px;
}
.nav-link
{
    color: #7c859a !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.cards
{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    /* border: 2px solid black; */
}
.cards>.sub-cards
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 600px;
    /* border: 2px solid black; */
    margin: 0 auto;
}
.container1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
}

.team-name {
    padding: 5px;
}

.team-name h1 {
    /* margin: 0; */
    font-size: 12px;
    padding-top: 6px;
}
.tablediv>table>thead
{
    background-color: #fd1e50 !important ;
    color: white !important ;
}
.cards>.sub-cards1
{
    width: 85%;
    height: 600px;
    /* border: 2px solid black; */
    margin: 0 auto;
}
.cards>.sub-cards2
{
    width: 85%;
    height: 400px;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards>.sub-cards2>.vid1
{
    background: url(../assets/images/vid-01.jpg);
}
.cards>.sub-cards2>.vid1:hover .sub-hover>a
{
    color: #fd1e50;
}
.cards>.sub-cards2>.vid1:hover
{
    transform: scale(1.05);
}
.cards>.sub-cards2>.vid2
{
    background: url(../assets/images/vid-02.jpg);
}
.cards>.sub-cards2>.vid2:hover .sub-hover>a
{
    color: #fd1e50;
}
.cards>.sub-cards2>.vid2:hover
{
    
    transform: scale(1.05);
    background-color: #7c859aa4;
}
.cards>.sub-cards2>.vid3
{
    background: url(../assets/images/vid-03.jpg);
}
.cards>.sub-cards2>.vid3:hover .sub-hover>a
{
    color: #fd1e50;
}
.cards>.sub-cards2>.vid3:hover
{
    
    transform: scale(1.05);
}
.cards>.sub-cards2>.hover>.sub-hover>:hover
{
    color: #fd1e50;
}
.cards>.sub-cards3
{
    width: 85%;
    height: 600px;
    /* border: 2px solid black; */
    margin: 0 auto;
}
.col>.card>.card-body>button:hover::after
{
    background-color: #fd1e50!important;
    color: white!important;
}
.cards1{
    width: 100%;
    height: 440.8px;
    /* border: 1px solid red; */
    background-color: #171e36;
}
.cards1>.sub-cards5
{
    width: 85%;
    height: 440.8px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.cards1>.sub-cards5>.part1
{
    width: 100%;
    height: 395.8px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.cards1>.sub-cards5>.part1>.sub-part1
{
    height: 384px;
    width: 225px;
    /* border: 1px solid black; */
}
.cards1>.sub-cards5>.part1>.sub-part1>.content>.address
{
    width: 225px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards1>.sub-cards5>.part1>.sub-part2
{
    height: 395.8px;
    width: 225px;
    /* border: 1px solid black; */
}
.cards1>.sub-cards5>.part1>.sub-part2>ul
{
    list-style-type: none;
}
.cards1>.sub-cards5>.part1>.sub-part2>ul>li
{
    padding-top: 10px;
    margin-left: -10px;
}
.cards1>.sub-cards5>.part1>.sub-part2>ul>li>a
{
    font-size: 13px;
}
.cards1>.sub-cards5>.part1>.sub-part2>ul>li>i
{
    font-size: 13px;
}
.cards1>.sub-cards5>.part1>.sub-part3
{
    height: 370.8px;
    width: 255px;
    /* border: 1px solid black; */
}
.cards1>.sub-cards5>.part1>.sub-part4
{
    height: 382.8px;
    width: 255px;
    /* border: 1px solid black; */
}
.cards1>.sub-cards5>.part2
{
    border-top: 0.1px solid #99a1b4;
    width: 100%;
    height: 44px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards1>.sub-cards5>.part2>.div1
{
    width: 50%;
    /* border: 1px solid black; */
    height: 100%;
}
.cards1>.sub-cards5>.part2>.div1>p
{
    color: #99a1b4;
    font-size: 14px;
    padding: 10px;
}
.cards1>.sub-cards5>.part2>.div2
{
    width: 50%;
    height: 100%;
}
.cards1>.sub-cards5>.part2>.div2>ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.cards1>.sub-cards5>.part2>.div2>ul>li{
    list-style-type:none;
}
.cards1>.sub-cards5>.part2>.div2>ul>li>a{
    text-decoration: none;
    color: #99a1b4;
    font-size: 14px;
}

    .cards1>.sub-cards5>.part2>.div2>ul>li>a:hover{
        color: white;
    
}
.cards2
{
    width: 100%;
    height: 386.39px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.cards2>.sub-cards6
{
    width: 85%;
    height: 386.39px;
    /* border: 1px solid red; */
    display: block;
   
}
.cards2>.sub-cards6>.cpart1
{
    width: 100%;
    height: 42px;
    display: flex;
}
.cards2>.sub-cards6>.cpart2
{
    /* border:1px solid red; */
    width: 100%;
    height: 343.39px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards2>.sub-cards6>.cpart2>.content1
{
    /* border:1px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content1
{
    background: url(../assets/images/gallery1.jpg);
    height: 100%;
    width:25%;
    background-size: cover;
    /* border:1px solid red; */
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content1:hover
{
    transform: scale(1.1);
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content2
{
    background: url(../assets/images/gallery3.jpg);
    height: 100%;
    width:25%;
    background-size: cover;
    /* border:1px solid red; */
    transform: scale(1.1);
}

.cards2>.sub-cards6>.cpart2>.content1>.sub-content3
{
    background: url(../assets/images/gallery4.jpg);
    height: 100%;
    background-size: cover;
    width:25%;
    /* border:1px solid red; */
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content3:hover
{
    transform: scale(1.1);
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content4
{
    background: url(../assets/images/gallery2.jpg);
    background-size: cover;
    height: 100%;
    width:25%;
    /* border:1px solid red; */
}
.cards2>.sub-cards6>.cpart2>.content1>.sub-content4:hover
{
    transform: scale(1.1);
}
.cards2>.sub-cards6>.cpart1>.title1
{
    width: 50%;
    height: 42px;
    /* border: 1px solid red; */
}
.cards2>.sub-cards6>.cpart1>.title2
{
    width: 50%;
    height: 42px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
.cards2>.sub-cards6>.cpart1>.title2>button
{
    height: 42px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
   border: none;
    background-color:#fd1e50;
    color: #fff;
    border-radius: 5px;
}
.cards2>.sub-cards6>.cpart1>.title2>button:hover
{
    background-color: #fff;
    color: #fd1e50;
    border: 1px solid #fd1e50;
}
.container1>.schedule>.match
{
    display: flex;
    width: 100%;
    height: 140px;
    /* border: 1px solid red; */
}
.container1>.schedule>.match>.team1
{
    width: 33.33%;
    height: 110px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1>.schedule>.match>.team1>div
{
    height: 80px;
    width: 80px;

}
.container1>.schedule>.match>.team1>div>img{
    height: 80px;
    width: 90px;
    
}
.container1>.schedule>.match>.team1>div>h3
{
    font-size: 15px;color: #fff;
    padding-left: 3px;
}
.container1>.schedule>.match>.team3>div
{
    height: 80px;
    width: 80px;

}
.container1>.schedule>.match>.team3>div>img{
    height: 80px;
    width: 90px;
    
}
.container1>.schedule>.match>.team3>div>h3{
    font-size: 15px;color: #fff;
    padding-left: 22px;
}
.container1>.schedule>.match>.team2
{
    width: 33.33%;
    height: 110px;
    /* border: 1px solid red; */
}
.container1>.schedule>.match>.team2>p{
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
.container1>.schedule>.match>.team2>.p1{
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    border: 1px solid #fff;
}

.container1>.schedule>.match>.team3
{
    width: 33.33%;
    height: 110px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1>.schedule>.ticket
{
    display: flex;
    width: 100%;
    height: 40px;
    border-top: 1px solid #7c859a;
    /* border: 1px solid red; */
}
.container1>.schedule>.ticket>.sub-ticket1
{
    width: 50%;
    height: 40px;
    border-right: 1px solid #7c859a;
    /* border: 1px solid red; */
}
.container1>.schedule>.ticket>.sub-ticket1>p{
    font-size: 13px;
    color: #7c859a;
    text-align: center;
    padding: 7px;
}
.container1>.schedule>.ticket>.sub-ticket1:hover
{
    background-color: #fd1e50;
}
.container1>.schedule>.ticket>.sub-ticket1:hover p
{
    color: #fff;
}
.container1>.schedule>.ticket>.sub-ticket1:hover h4
{
    color: #fff;
}
.container1>.schedule>.ticket>.sub-ticket2:hover p
{
    color: #fff;
}
.container1>.schedule>.ticket>.sub-ticket2:hover h4
{
    color: #fff;
}
.container1>.schedule>.ticket>.sub-ticket2:hover
{
    background-color: #fd1e50;
}
.container1>.schedule>.ticket>.sub-ticket2>h4
{
    font-weight: 800;
    font-size: 14px;
    color: #7c859a;
    text-align: center;
    padding:8px;
}
.container1>.schedule>.ticket>.sub-ticket2
{
    width: 50%;
    height: 40px;
    /* border: 1px solid red; */
}
.container1>.schedule
{
    background: linear-gradient(to bottom, rgba(53,61,84,1) 0%, rgba(23,30,54,1) 100%);
    border-radius: 10px;
}
.cards3{
    background: url(../assets/images/teamsec-bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 813.39px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards3>.sub-cards7
{
    width: 85%;
    height: 683.39px;
    /* border: 1px solid red; */
}
.cards3>.sub-cards7>.player-card1
{
    width: 100%;
    height: 63.39px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards3>.sub-cards7>.player-card1>button
{
    background-color: #ffcb05;
    color: #000;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
}
.cards3>.sub-cards7>.player-card1>button:hover{
    background-color: #fd1e50;
    color: #fff;
}
.cards3>.sub-cards7>.player-card2
{
    width: 100%;
    height: 620px;
    /* border: 1px solid white; */
}
.cards3>.sub-cards7>.player-card2>.top-card
{
    display: flex;
    justify-content: space-between;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1
{
    width: 540px;
    height: 280px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    background-color: #20273f;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pimg
{
    width: 240px;
    height: 280px;
    /* border: 1px solid white; */
    background: url(../assets/images/playerbg.jpg) no-repeat;
    background-size: cover;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls
{
    width: 286.19px;
    height: 279.59px;
    /* border: 1px solid white; */
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pimg>img
{
    width: 286.19px;
    height: 279.59px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pimg>img
{
    width: 286.19px;
    height: 279.59px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2
{
    width: 540px;
    height: 280px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    background-color: #20273f;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pimg
{
    width: 240px;
    height: 280px;
    /* border: 1px solid white; */
    background: url(../assets/images/playerbg.jpg) no-repeat;
    background-size: cover;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls
{
    width: 286.19px;
    height: 279.59px;
    /* border: 1px solid white; */
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls
{
    padding: 20px;

}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>h2
{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 5px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>h4
{
    color: #ffcb05;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 11px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>p
{
    font-size: 14px;
    color: #7c859a;
    margin: 0 0 30px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>ul{
    margin: 0 0 28px;
    padding: 0px;
    list-style: none;
    width: 100%;
    float: left;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>ul>li{
    float: left;
    font-size: 18px;
    font-weight: 300;
    color: #ccc;
    border-left: 1px solid #3b4156;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 0 0 5px;
    width: 25%;
    line-height: 24px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>ul>li>span{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>.playerbio{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    position: relative;
    text-decoration: none;


}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>.playerbio>i
{
    color: #ffcb05;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls>.sub-pdtls>.follow{
    background: #e81f3e;
    
    color: #fff;
    
    font-size: 12px;
    line-height: 24px;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex2>.pdtls
{
    width: 286.19px;
    height: 279.59px;
    /* border: 1px solid white; */
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls
{
    padding: 20px;

}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>h2
{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 5px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>h4
{
    color: #ffcb05;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 11px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>p
{
    font-size: 14px;
    color: #7c859a;
    margin: 0 0 30px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>ul{
    margin: 0 0 28px;
    padding: 0px;
    list-style: none;
    width: 100%;
    float: left;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>ul>li{
    float: left;
    font-size: 18px;
    font-weight: 300;
    color: #ccc;
    border-left: 1px solid #3b4156;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 0 0 5px;
    width: 25%;
    line-height: 24px;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>ul>li>span{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>.playerbio{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    position: relative;
    text-decoration: none;


}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>.playerbio>i
{
    color: #ffcb05;
}
.cards3>.sub-cards7>.player-card2>.top-card>.card-flex1>.pdtls>.sub-pdtls>.follow{
    background: #e81f3e;
    
    color: #fff;
    
    font-size: 12px;
    line-height: 24px;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    
}
.cards4{
    background: url(../assets/images/ground.jpeg);
    height: 527px;
    width: 100%;
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex
{
    width: 730px;
    height: 527px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground1
{
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground1>h1
{
    margin-top: 120px;
    font-size: 63px;
    font-weight: 700;
    line-height: 67px;
    color: white;
    text-transform: uppercase;
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground1>h1>span{
    color: #fd1e50;
    font-size: 44px;
    font-weight: 700;
}

.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground1>button
{
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px ;
    padding-right: 15px;
    background-color: #fd1e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 200;
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground2
{
    width: 40%;
    height: 100%;
    
}
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground2>img
{
    margin-top: 80px;
    width: 430px;
    height: 427px;
} 
.cards4>.sub-cards9>.caro>.sub-caro>.main-caro>.gflex>.ground2>.slide
{
    margin-left: -100px;
    width: 480px;
    height: 440px;
}


